<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PuebloFest</title>
  <link rel="stylesheet" href="../../styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" href="../../assets/favicon.png" type="image/x-icon">
</head>

<header>
    <!-- NAVBAR SUPERIOR (desktop) -->
  <nav class="top-nav">
    <a href="../../index.html">
      <div class="logo"><img src="../../assets/main_logo.PNG" alt="Logo main" class="img_logo"></div>
    </a>
    <ul class="top-links">
        <li><a href="../../index.html">Inicio</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="../food/food.html">Food</a></li>
        <li><a href="../crafts/craft.html">Crafts</a></li>
        <li><a href="../contact/contact.html">Contact</a></li>
    </ul>
  </nav>

    <!-- NAVBAR INFERIOR (mobile) -->
  <nav class="bottom-nav">
    <a href="../../index.html" class="nav-item"> 
      <i class="fas fa-home"></i><span>Inicio</span>
    </a>
    <a href="#" class="nav-item"> 
      <i class="fa-solid fa-calendar-days"></i><span>Schedule</span>
      </a>
      <a href="../food/food.html" class="nav-item">
        <i class="fas fa-utensils"></i><span>Food</span>
      </a>
      <a href="../crafts/craft.html" class="nav-item">
        <i class="fa-solid fa-hands-holding"></i><span>Craft</span>
      </a>
      <a href="../contact/contact.html" class="nav-item">
        <i class="fas fa-phone-alt"></i><span>Contact</span>
      </a>
  </nav>
</header>

<body>

 <main class="contenido">
    <section class="feria-container">

        <div class="feria-card" id="ExpoInmobiliaria 2025">
          <img src="./imagenes/expoinmobiliaria.jpg" alt="ExpoInmobiliaria 2025" class="feria-img">
          <p class="food-name">Expo Inmobiliaria 2025</p>
          <details class="ExpoInmobiliaria 2025">
            <summary>Ver detalle</summary>
            <p>It showcases the housing and other buildings available for sale in the municipalities of the Metropolitan Area, the Near East, and other municipalities in the department and the country, organized by the Colombian Chamber of Construction – Antioquia region.</p>
            <ul>
            <li>Time:Friday, March 7, from 10:00 a.m. </li>
            <li>then 8:00 p.m., Saturday, March 8,</li>
            <li>from 10:00 a.m. to 8:00 p.m and Sunday, March 9, from 10:00 a.m. to 6:00 p.m.</li>
            <li>Organizer:CAMACOL Antioquia</li>
            <li>Phone: 3054349946</li>
            <li>Email: camacol@feriascamacol.com</li>
            <li>Website:http://www.expoinmobiliaria.com.co </li>
            </ul>
          </details>
        </div>
      
        <div class="feria-card" id="FAMY FEST">
          <img src="./imagenes/FAMY FEST.jpg" alt="FAMY FEST" class="feria-img">
          <p class="food-name">FAMY FEST</p>
          <details class="food-detail">
            <summary>Ver detalle</summary>
            <p>It is an educational and experiential event designed especially for families, focusing on the early stages of parenting and family well-being.</p>
            <ul>
              <li>Time: 9:00 am - 6:00 pm</li>
              <li>Place: Pabellón Verde, Plaza Mayor</li>
              <li>Organizer: FAMYHUB - Melissa Olaya</li>
              <li>Phone: 310 5426113, Phone: 310 5426113</li>
              <li>Email:marketing@gomommyclub.com</li>
              <li> Webhttps://gomommyclub.co/</li>
            </ul>
          </details>
        </div>
      
        <div class="feria-card" id="sushi">
          <img src="./imagenes/bitcoin.jpg" alt="bitcoin" class="feria-img">
          <p class="food-name">Bitcoin Medellín</p>
          <details class="food-detail">
            <summary>Ver detalle</summary>
            <p>Conference focused on Bitcoin education and financial literacy with featured speakers such as Jeff Booth, Oliver Vélez, Atlas, and many more.</p>
            <ul>
              <li>Time: 8:30 am </li>
              <li>5:30 pm Location: Stage / Conference Area Category: Conference
              Cryptocurrencies: Education, Finance Organizer: Insider Exposure</li>
              <li>
              Phone: +1 646-773-5699
              </li>
              <li>
              Email: john@bitcoinmedellin.com
              </li>
              <li>
              Web: http://BitcoinMedellin.com
              </li>
            </ul>
          </details>

        </div>
      
      </section>
  </main>


</body>
</html>
