/* Contenedor de las tarjetas de perfiles */
.food-container {
  display: grid; /* Usar grid layout para organizar las tarjetas */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Columnas adaptables */
  gap: 25px; /* Espaciado entre las tarjetas */
  max-width: 100%; /* Ancho máximo del contenedor */
  padding: 10px; /* Espaciado interno del contenedor */
}

.food-card {
text-align: center;
border-radius: 20px;
transition: all 0.3s ease;
backdrop-filter: blur(4px);
box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
padding: 8%
}

a {
text-decoration: none;
}

/* Imagen de perfil dentro de la tarjeta */
.food-img {
  height: 125px; /* Altura de la imagen */
  border-radius: 15%; /* Imagen redonda */
  object-fit: cover; /* Ajustar la imagen al contenedor */
  margin-bottom: 10px; /* Espaciado inferior */
}
#starbucks{
  height: 125px;
  width: 120px;
}

/* Efecto al pasar el cursor sobre la tarjeta */
.food-card:hover {
  transform: translateY(-5px); /* Elevar la tarjeta ligeramente */
  box-shadow: 0 10px 25px rgba(0, 100, 50, 0.1); /* Sombra más pronunciada */
}

details.food-detail {
margin-top: 10px;
background: #f8f8f8;
padding: 10px;
border-radius: 10px;
font-size: 1rem;
cursor: pointer;
border: 1px solid #ccc;
transition: all 0.3s ease;
}

details.food-detail[open] {
background: #eaf7ff;
border-color: #12c9d6;
}
