<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PuebloFest</title>
  <link rel="stylesheet" href="../../styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" href="./assets/favicon.png" type="image/x-icon">
</head>

<header>
    <!-- NAVBAR SUPERIOR (desktop) -->
  <nav class="top-nav">
    <a href="../../index.html">
      <div class="logo">PuebloFest</div>
  </a>
    <ul class="top-links">
      <li><a href="../../index.html">Inicio</a></li>
      <li><a href="../schedule/schedule.html">Schedule</a></li>
      <li><a href="../food/food.html">Food</a></li>
      <li><a href="../crafts/craft.html">Crafts</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
</nav>

  <!-- NAVBAR INFERIOR (mobile) -->
<nav class="bottom-nav">
  <a href="../../index.html" class="nav-item"> 
    <i class="fas fa-home"></i><span>Inicio</span>
  </a>
  <a href="../schedule/schedule.html" class="nav-item"> 
    <i class="fa-solid fa-calendar-days"></i><span>Schedule</span>
    </a>
    <a href="../food/food.html" class="nav-item">
      <i class="fas fa-utensils"></i><span>Food</span>
    </a>
    <a href="../crafts/craft.html" class="nav-item">
      <i class="fa-solid fa-hands-holding"></i><span>Craft</span>
    </a>
    <a href="#" class="nav-item">
      <i class="fas fa-phone-alt"></i><span>Contact</span>
    </a>
  </nav>
</header>

<body>

  <main class="contenido">
  </main>

</body>
</html>